In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [19]:
itsa3 = wb.DataReader('ITSA3.SA', data_source='yahoo', start='2018-01-01')
itsa3

                 High        Low       Open      Close     Volume  Adj Close
Date
2018-01-02   9.873010   9.486360   9.549300   9.837040   139905.0   8.916748
2018-01-03   9.980910   9.675190   9.792080   9.801070   122778.0   8.884142
2018-01-04  10.088800   9.801070   9.819060  10.025900   144242.0   9.087939
2018-01-05  10.106800   9.926960  10.025900  10.025900   130007.0   9.087939
2018-01-08  10.133800   9.917970   9.953930  10.133800   129117.0   9.185744
2018-01-09  10.151700   9.971920  10.151700   9.980910   217420.0   9.047158
2018-01-10  10.025900   9.899980   9.989900   9.989900   245557.0   9.055305
2018-01-11  10.187700  10.016900  10.070800  10.124800   121889.0   9.177586
2018-01-12  10.187700  10.070800  10.115800  10.160800   152917.0   9.210217
2018-01-15  10.340600  10.115800  10.115800  10.322600    91417.0   9.356881
2018-01-16  10.493400  10.277600  10.331600  10.367600    65393.0   9.397672
2018-01-17  10.673300  10.340600  10.394500  10.547400   145354.0   9.560651
2018-01-18  10.907100  10.556400  10.556400  10.709300   246113.0   9.707404
2018-01-19  10.835100  10.601300  10.745200  10.601300  1079983.0   9.609508
2018-01-22  10.961000  10.565400  10.565400  10.934000    84744.0   9.911082
2018-01-23  11.095900  10.808200  10.943000  10.853100   115438.0   9.837751
2018-01-24  11.482500  10.970000  10.970000  11.338700   168042.0  10.277921
2018-01-25  11.338700  11.338700  11.338700  11.338700        0.0  10.277921
2018-01-26  12.094000  11.563500  11.572500  11.950100   179052.0  10.832123
2018-01-29  12.040000  11.743300  12.040000  11.788300    77181.0  10.685459
2018-01-30  11.788300  11.527500  11.788300  11.707300   156031.0  10.612038
2018-01-31  12.094000  11.824200  11.887200  11.824200    90193.0  10.717999
2018-02-01  12.013100  11.707300  11.707300  11.797300   105985.0  10.693618
2018-02-02  11.797300  11.527500  11.797300  11.734300   301385.0  10.636512
2018-02-05  11.779300  11.563500  11.698300  11.599400    85300.0  10.514232
2018-02-06  11.869200  11.329700  11.419600  11.707300   113881.0  10.612038
2018-02-07  11.869200  11.599400  11.752300  11.689400   100425.0  10.595811
2018-02-08  11.833200  11.482500  11.761300  11.482500    63947.0  10.408268
2018-02-09  11.680400  11.338700  11.653400  11.347700    56718.0  10.286078
2018-02-14  11.932100  11.509500  11.509500  11.932100    49156.0  10.815807
...               ...        ...        ...        ...        ...        ...
2019-01-18  14.530000  14.160000  14.160000  14.520000    41700.0  14.224897
2019-01-21  14.540000  14.200000  14.530000  14.370000    38900.0  14.077946
2019-01-22  14.420000  14.290000  14.370000  14.340000    56400.0  14.048555
2019-01-23  14.490000  14.340000  14.340000  14.430000    36800.0  14.136726
2019-01-24  14.680000  14.410000  14.470000  14.540000   116300.0  14.244490
2019-01-28  14.990000  14.330000  14.500000  14.900000    82200.0  14.597174
2019-01-29  15.050000  14.880000  14.880000  15.020000    87400.0  14.714735
2019-01-30  15.370000  14.970000  15.030000  15.280000   117600.0  14.969451
2019-01-31  15.620000  15.400000  15.400000  15.500000    54600.0  15.184979
2019-02-01  15.550000  15.300000  15.530000  15.550000    56500.0  15.233963
2019-02-04  15.880000  15.290000  15.500000  15.880000    97000.0  15.557257
2019-02-05  15.880000  15.190000  15.880000  15.790000   154000.0  15.469086
2019-02-06  15.790000  15.260000  15.790000  15.370000   533800.0  15.057622
2019-02-07  15.480000  15.050000  15.260000  15.110000   138200.0  14.802905
2019-02-08  15.620000  15.100000  15.100000  15.600000    53300.0  15.282948
2019-02-11  15.770000  15.510000  15.600000  15.770000    45900.0  15.449492
2019-02-12  15.950000  15.750000  15.760000  15.920000   117500.0  15.596443
2019-02-13  16.450001  15.780000  15.950000  16.450001   141200.0  16.115671
2019-02-14  16.700001  16.150000  16.299999  16.469999   185800.0  16.135263
2019-02-15  16.850000  15.850000  16.850000  16.070000   477400.0  15.743394
2019-02-18  16.280001  15.920000  16.070000  16.010000   265400.0  15.684614
2019-02-19  16.340000  16.100000  16.200001  16.250000   112600.0  15.919736
2019-02-20  16.650000  16.299999  16.299999  16.570000   197800.0  16.233232
2019-02-21  17.490000  16.230000  16.690001  16.360001  1288800.0  16.027500
2019-02-22  15.940000  15.630000  15.870000  15.680000   685000.0  15.659093
2019-02-25  15.760000  15.210000  15.700000  15.410000    98100.0  15.389453
2019-02-26  15.570000  15.100000  15.570000  15.210000    81200.0  15.189720
2019-02-27  15.370000  15.210000  15.210000  15.300000    34000.0  15.279600
2019-02-28  15.360000  15.000000  15.360000  15.000000    70200.0  14.980000
2019-03-01  15.300000  14.820000  15.150000  14.970000    43800.0  14.970000

[288 rows x 6 columns]