In [20]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [28]:
itsa3 = wb.DataReader('ITSA3.SA', data_source='yahoo', start='2019-03-01')
itsa3

            High    Low   Open  Close   Volume  Adj Close
Date
2019-03-01  15.3  14.82  15.15  14.97  43800.0      14.97
2019-03-01  15.3  14.82  15.15  14.97  43800.0      14.97

In [32]:
row_count = itsa3.shape[0]
for i in range(row_count):
    print(itsa3.iloc[i, :])
    print(itsa3.iloc[i, :].name)

High            15.30
Low             14.82
Open            15.15
Close           14.97
Volume       43800.00
Adj Close       14.97
Name: 2019-03-01 00:00:00, dtype: float64
2019-03-01 00:00:00
High            15.30
Low             14.82
Open            15.15
Close           14.97
Volume       43800.00
Adj Close       14.97
Name: 2019-03-01 00:00:00, dtype: float64
2019-03-01 00:00:00