In [1]:
import numpy as np
import pandas as pd
from scipy.optimize import minimize
import matplotlib.pyplot as plt
import heapq
import psycopg2
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

/usr/local/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
# query = "select * from crosstab ( 'select dq.event_date, c.label, dq.close_value from company c left join daily_quote dq on c.id = dq.company_id where ibovespa_plus = true and (now() - dq.event_date) <= interval ''3 months'' order by 1, 2', 'select c.label from company c where ibovespa_plus = true order by 1') as ct ( event_date date, \"ABCB4\" numeric, \"ABEV3\" numeric, \"BBAS3\" numeric, \"BBDC3\" numeric, \"BBDC4\" numeric, \"BBSE3\" numeric, \"BRAP4\" numeric, \"BRFS3\" numeric, \"BRKM5\" numeric, \"BRML3\" numeric, \"BRSR6\" numeric, \"BTOW3\" numeric, \"CARD3\" numeric, \"CCRO3\" numeric, \"CIEL3\" numeric, \"CMIG4\" numeric, \"CPLE6\" numeric, \"CSAN3\" numeric, \"CSNA3\" numeric, \"CVCB3\" numeric, \"CYRE3\" numeric, \"ECOR3\" numeric, \"EGIE3\" numeric, \"ELET3\" numeric, \"ELET6\" numeric, \"EMBR3\" numeric, \"ENBR3\" numeric, \"EQTL3\" numeric, \"ESTC3\" numeric, \"FESA4\" numeric, \"FIBR3\" numeric, \"FLRY3\" numeric, \"FRAS3\" numeric, \"GGBR4\" numeric, \"GOAU4\" numeric, \"GOLL4\" numeric, \"GRND3\" numeric, \"HYPE3\" numeric, \"IGTA3\" numeric, \"ITSA3\" numeric, \"ITSA4\" numeric, \"ITUB3\" numeric, \"ITUB4\" numeric, \"JBSS3\" numeric, \"KLBN11\" numeric, \"KROT3\" numeric, \"LAME4\" numeric, \"LREN3\" numeric, \"MGLU3\" numeric, \"MPLU3\" numeric, \"MRFG3\" numeric, \"MRVE3\" numeric, \"MULT3\" numeric, \"NATU3\" numeric, \"PCAR4\" numeric, \"PETR3\" numeric, \"PETR4\" numeric, \"PSSA3\" numeric, \"PTBL3\" numeric, \"QUAL3\" numeric, \"RADL3\" numeric, \"RAIL3\" numeric, \"RENT3\" numeric, \"SANB11\" numeric, \"SANB4\" numeric, \"SAPR3\" numeric, \"SAPR4\" numeric, \"SBSP3\" numeric, \"SMLS3\" numeric, \"SMTO3\" numeric, \"SULA11\" numeric, \"SUZB3\" numeric, \"TAEE11\" numeric, \"TIMP3\" numeric, \"TRPL4\" numeric, \"UGPA3\" numeric, \"UNIP3\" numeric, \"UNIP6\" numeric, \"USIM5\" numeric, \"VALE3\" numeric, \"VIVT4\" numeric, \"VVAR3\" numeric, \"WEGE3\" numeric);"

In [3]:
query = """ 
    select dq.event_date, c.label, dq.close_value
    from company c
    inner join daily_quote dq on c.id = dq.company_id
    where alpha_6 = true 
    and (now() - dq.event_date) <= interval '4 months'
    order by dq.event_date, c.label;"""

In [4]:
conn = psycopg2.connect(
            database="postgres",
            user="postgres",
            connect_timeout=3,
            options='-c statement_timeout=3000')
raw_df = pd.read_sql(query, conn)
# df.drop('event_date', axis=1, inplace=True)
conn.close()

In [5]:
raw_df.columns = ['Data', 'Sigla', 'Valor_de_Fechamento']
raw_df.set_index(['Data', 'Sigla'], inplace=True)

In [6]:
df_0 = (raw_df.unstack()
      .replace({0: np.NaN})
      .fillna(method='ffill'))
df = df_0.copy()
df.head()

           Valor_de_Fechamento                                            \
Sigla                    ABCB4  BBDC3  BRSR6 CARD3  CIEL3  CSAN3   EGIE3
Data
2018-09-11               14.45  24.00  14.35  6.45  14.35  33.46  29.216
2018-09-12               14.35  24.08  14.58  6.35  14.50  33.87  29.040
2018-09-13               14.26  24.04  14.20  6.30  14.20  33.15  29.152
2018-09-14               14.32  24.29  14.00  6.29  14.10  33.43  28.928
2018-09-17               14.36  24.97  14.38  6.36  14.19  33.32  29.104

                                 ...                                           \
Sigla       ENBR3  ESTC3  FESA4  ...    MRVE3  PSSA3 PTBL3  SANB4 SAPR3 SAPR4
Data                             ...
2018-09-11  13.15  20.80  21.04  ...    12.22  56.90  3.56  14.91  8.67  8.55
2018-09-12  12.95  20.69  21.43  ...    12.48  55.61  3.59  15.36  8.71  8.68
2018-09-13  12.81  20.49  20.90  ...    12.14  57.24  3.79  15.20  8.36  8.63
2018-09-14  12.80  21.05  20.55  ...    12.15  57.44  3.89  15.41  8.03  8.56
2018-09-17  12.92  21.55  19.77  ...    12.18  57.34  4.02  15.31  8.68  8.51


Sigla       SMTO3 SULA11  TIMP3  TRPL4
Data
2018-09-11  19.33  24.21  11.72  56.49
2018-09-12  19.58  24.00  12.00  56.00
2018-09-13  19.53  24.50  11.90  55.46
2018-09-14  19.15  25.10  11.75  55.55
2018-09-17  19.50  25.41  11.95  55.85

[5 rows x 28 columns]

In [7]:
# df.dropna(axis=1, how='all', inplace=True)
# df.dropna(axis=0, how='any', inplace=True)
# df.fillna(axis=1, value=0, inplace=True)

In [8]:
# scaler = StandardScaler()
scaler = MinMaxScaler(feature_range=(1, 5))
df[df.columns] = scaler.fit_transform(df[df.columns])
#df.head()

In [9]:
# series = df.mean()
# series2 = series[series > 0]
# series2

In [10]:
means = np.mean(df)
# print(means)
# variances = np.var(df)
# print(variances)
covariance_matrix = np.cov(df, rowvar=False)
# print(covariance_matrix)

In [11]:
def risk_profit(a):
    return np.sqrt(np.dot(np.dot(a, covariance_matrix), a)), np.sum(np.multiply(a, means))

### Função multi-objetivo
A função f tentará minimizar a variancia da carteira e maximizar o seu retorno

In [12]:
def f(x):
    return np.dot(np.dot(x, covariance_matrix), x) / np.sum(np.multiply(x, means))

In [13]:
cons = [{'type': 'eq', 'fun': lambda x: np.sum(x) - 1.0}]
n = df.shape[1]
x0 = np.full(n, 1 / n)
result = minimize(f, x0, constraints=cons, method='SLSQP', options={'disp': 'True', 'maxiter': 150})
# result = minimize(f, x0, method='Powell', options={'disp': 'True', 'maxiter': 100})

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.004324229544284497
            Iterations: 50
            Function evaluations: 1502
            Gradient evaluations: 50

### Representação visual da carteira otimizada!

In [14]:
optimal_values = []
optimized = result.success
if optimized:
    risk, profit = risk_profit(result.x)
    #print(result.x)
    print("risk=%s, profit=%s" % (risk, profit))
    
    optimal_values = result.x

    for k, v in enumerate(optimal_values):
        print('k = %s, v = %s' % (k, v))
    nlargest = heapq.nlargest(10, enumerate(optimal_values), key=lambda x: x[1])
    nlargest_indexes = [i for (i, j) in nlargest]
    nlargest_values = [j for (i, j) in nlargest]
    for nl in nlargest:
        print(nl)
    labels = [label for (_, label) in df.columns[nlargest_indexes].values]
    fig1, ax1 = plt.subplots()
    ax1.pie(nlargest_values, labels=labels, shadow=True, autopct='%1.0f%%')
    ax1.axis('equal')
    plt.show()
    print(nlargest_values)
    print(labels)
else:
    print('FUNCTION COULD NOT BE OPTIMIZED!')

risk=0.11532156847737457, profit=3.075475994020642

NameError: name 'sizes' is not defined

In [ ]:
df_0.head()